

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'poppins', 'sans-serif';
}
body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 background: linear-gradient(135deg, #ffffff, #ffffff);
 font-family: 'poppins', 'sans-serif';
}
.containerr{
 width: 100%;
 background-color: #fff;
 padding: 25px 30px;
 margin-left: -10px;
 margin-top: -5px;
 height: 100%;
}
.containerr .titlee{
 font-size: 24px;
 font-weight: 500;
 position: relative;
 margin-bottom: 30px;
 margin-top: 120px;
 overflow: hidden;
 text-decoration: underline;
}

.input-boxx .details h4{
   margin-left: 20px;
}

.contentt form .user-detailss{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 20px 0 12px 0;
}
form .user-detailss .input-boxx{
 margin-bottom: 15px;
 width: calc(97% / 2 - 20px);
}
form .input-boxx span.detailss{
 display: block;
 font-weight: 500;
 margin-bottom: 5px;
}
.user-detailss .input-boxx input{
 height: 40px;
 width: 92%;
 outline: none;
 font-size: 16px;
 border-radius: 0px;
 padding-left: 5px;
 border-bottom: 1px solid rgb(255, 255, 255);
 border-color: #000000;
 border-top: 0px solid rgb(255, 255, 255);
 border-left: 0px solid rgb(255, 255, 255);
 border-right: 0px solid rgb(255, 255, 255);
 transition: all 0.3s ease;
 margin-left: 20px;
 background: #ffffff;
}

form .gender-detailss .gender-titlee{
 font-size: 20px;
 font-weight: 500;
}
form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}
form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot{
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 10px;
 background: #d9d9d9;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  background: #9b59b6;
  border-color: #d9d9d9;
}
form input[type="radio"]{
  display: none;
}
form .buttonn{
  height: 45px;
  margin: 35px 0;
}
form .buttonn input{
  height: 100%;
  padding-left: 90px;
  width: 40%;
  border-radius: 5px;
  margin-left: 270px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, rgb(43, 107, 172), rgb(43, 107, 172));
}
form .buttonn input:hover{
 /* transform: scale(0.99); */
 background: linear-gradient(-135deg, rgb(4, 72, 136), rgb(4, 72, 136));
 }
@media(max-width: 584px){
.container{
 max-width: 100%;
}
form .user-detailss .input-boxx{
   margin-bottom: 15px;
   width: 100%;
 }
 form .category{
   width: 100%;
 }
 .contentt form .user-detailss{
   max-height: 300px;
   overflow-y: scroll;
 }
 .user-detailss::-webkit-scrollbar{
   width: 5px;
 }
 }
 @media(max-width: 459px){
 .containerr .contentt .category{
   flex-direction: column;
 }
}













